VITE_CREATOR_APP_LINK_NAME=demo14instawebworkscom
VITE_CREATOR_GET_APPROVAL_INBOX_URL=https://www.zohoapis.com/creator/custom/demo14instawebworkscom/getApprovalInbox?publickey=Cxn5b9KfnYWAMnbkCWqvzybd7
VITE_CREATOR_GET_APPROVAL_DETAIL_URL=https://www.zohoapis.com/creator/custom/demo14instawebworkscom/getApprovalDetail?publickey=yuxJrwRUQgNTtrZPk19KAe5YN
VITE_CREATOR_LOAD_CRM_CONTEXT_URL=
VITE_CREATOR_REFRESH_BOOKS_INVOICE_SNAPSHOT_URL=
VITE_CREATOR_APPROVE_INVOICE_URL=https://www.zohoapis.com/creator/custom/demo14instawebworkscom/approveInvoice?publickey=e8C65Z0y02m57z4nmrRGE8dnB
VITE_CREATOR_REJECT_INVOICE_URL=https://www.zohoapis.com/creator/custom/demo14instawebworkscom/rejectInvoice?publickey=Qk8gVJSbp8uPqdVQ9DFF0U78R
VITE_CREATOR_REQUEST_CLARIFICATION_URL=https://www.zohoapis.com/creator/custom/demo14instawebworkscom/requestClarification?publickey=1V3FmYUKv1vn3W43AmTkHyeXh
VITE_CREATOR_ADD_APPROVAL_COMMENT_URL=https://www.zohoapis.com/creator/custom/demo14instawebworkscom/addApprovalComment?publickey=ZdQeACMaQvSjZyRMXJCUJn7EO
